* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Nav bar */
.navbar {
  background-color: #222;
  padding: 1rem 2rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}

.home-link:hover {
  color: #ff4a4a; 
}

.exp-link:hover {
  color: #009f3d;
}

.edu-link:hover {
  color: #1400c8;
}

.games-link:hover {
  color: #a6cd27;
}
/* End nav bar */

/* page headers */
.name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 3rem;
    cursor: pointer;
    user-select: none;
    margin-top: 2rem;
    border: #222 solid 2px;
    background-color: bisque;
}

.name span {
    display: inline-block;
    transition: transform 0.6s ease, opacity 0.6s ease, color 0.6s ease;
    will-change: transform, color;
    color: #222; /* default text color */
  }
/* end page headers */

.projects {
    align-items: center;
    display: inline-block;
    margin: 0 auto;
    padding: 0 15px;
    justify-items: center;
}

.projects h3 {
    text-align: left;
    margin: 20px 0;
    padding: 0 15px;
}

.projects h2 {
    text-align: left;
    margin: 20px 0;
    padding: 0 15px;
}

.projects h1 {
    text-align: center;
    margin: 20px 0;
}

.project img {
    width: 480px;
    height: auto;
    border:#ffffff solid 5px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.project {
    background-color: rgb(169, 196, 255);
    border:#0004ff solid 5px;
    border-radius: 10px;
}